# something about "USRMCLK will not work properly if MASTER_SPI_PORT is enabled"
SYSCONFIG CONFIG_IOVOLTAGE=3.3 COMPRESS_CONFIG=ON MASTER_SPI_PORT=DISABLE SLAVE_SPI_PORT=DISABLE SLAVE_PARALLEL_PORT=DISABLE;

# can't use N9, have to use USRMCLK for clk
LOCATE COMP "f_cs" SITE "N8";
LOCATE COMP "f_mosi" SITE "T8";
LOCATE COMP "f_miso" SITE "T7";

LOCATE COMP "rx" SITE "R6";
LOCATE COMP "tx" SITE "R7";

LOCATE COMP "bus_out[0]" SITE "B1";
LOCATE COMP "bus_out[1]" SITE "C4";
LOCATE COMP "bus_out[2]" SITE "D3";
LOCATE COMP "bus_out[3]" SITE "E3";
LOCATE COMP "bus_out[4]" SITE "C1";
LOCATE COMP "bus_out[5]" SITE "G4";
LOCATE COMP "bus_out[6]" SITE "G3";
LOCATE COMP "bus_out[7]" SITE "H3";
