# something about "USRMCLK will not work properly if MASTER_SPI_PORT is enabled"
SYSCONFIG CONFIG_IOVOLTAGE=3.3 COMPRESS_CONFIG=ON MASTER_SPI_PORT=DISABLE SLAVE_SPI_PORT=DISABLE SLAVE_PARALLEL_PORT=DISABLE;

# LOCATE COMP "clk" SITE "A10";

# LOCATE COMP "out[0]" SITE "E8";
# LOCATE COMP "out[1]" SITE "A4";
# LOCATE COMP "out[2]" SITE "E7";
# LOCATE COMP "out[3]" SITE "A3";

# can't use N9, have to use USRMCLK for clk
LOCATE COMP "f_cs" SITE "N8";
LOCATE COMP "f_mosi" SITE "T8";
LOCATE COMP "f_miso" SITE "T7";

LOCATE COMP "vsync" SITE "E15";
LOCATE COMP "hsync" SITE "F16";
LOCATE COMP "red[0]" SITE "K5";
LOCATE COMP "red[1]" SITE "K12";
LOCATE COMP "red[2]" SITE "M12";
LOCATE COMP "green[0]" SITE "L5";
LOCATE COMP "green[1]" SITE "M5";
LOCATE COMP "green[2]" SITE "M11";
LOCATE COMP "blue[0]" SITE "L12";
LOCATE COMP "blue[1]" SITE "M6";
LOCATE COMP "blue[2]" SITE "N5";

IOBUF PORT "vsync" IO_TYPE=LVTTL33;
IOBUF PORT "hsync" IO_TYPE=LVTTL33;
IOBUF PORT "red[0]" IO_TYPE=LVTTL33;
IOBUF PORT "red[1]" IO_TYPE=LVTTL33;
IOBUF PORT "red[2]" IO_TYPE=LVTTL33;
IOBUF PORT "green[0]" IO_TYPE=LVTTL33;
IOBUF PORT "green[1]" IO_TYPE=LVTTL33;
IOBUF PORT "green[2]" IO_TYPE=LVTTL33;
IOBUF PORT "blue[0]" IO_TYPE=LVTTL33;
IOBUF PORT "blue[1]" IO_TYPE=LVTTL33;
IOBUF PORT "blue[2]" IO_TYPE=LVTTL33;

LOCATE COMP "oe" SITE "R2";
LOCATE COMP "rw" SITE "P13";
LOCATE COMP "c_clk" SITE "G12";
LOCATE COMP "romsel" SITE "C11";
LOCATE COMP "m2" SITE "K13";
LOCATE COMP "A[0]" SITE "A12";
LOCATE COMP "A[1]" SITE "N16";
LOCATE COMP "A[2]" SITE "B13";
LOCATE COMP "A[3]" SITE "L14";
LOCATE COMP "A[4]" SITE "D16";
LOCATE COMP "A[5]" SITE "F12";
LOCATE COMP "A[6]" SITE "J16";
LOCATE COMP "A[7]" SITE "H13";
LOCATE COMP "A[8]" SITE "A15";
LOCATE COMP "A[9]" SITE "B15";
LOCATE COMP "A[10]" SITE "K15";
LOCATE COMP "A[11]" SITE "M14";
LOCATE COMP "A[12]" SITE "J15";
LOCATE COMP "A[13]" SITE "C14";
LOCATE COMP "A[14]" SITE "D13";
LOCATE COMP "D[0]" SITE "B12";
LOCATE COMP "D[1]" SITE "P14";
LOCATE COMP "D[2]" SITE "A14";
LOCATE COMP "D[3]" SITE "M13";
LOCATE COMP "D[4]" SITE "F15";
LOCATE COMP "D[5]" SITE "F13";
LOCATE COMP "D[6]" SITE "K16";
LOCATE COMP "D[7]" SITE "G16";

LOCATE COMP "io[0]" SITE "T6";
LOCATE COMP "io[1]" SITE "P8";
LOCATE COMP "io[2]" SITE "R5";
LOCATE COMP "io[3]" SITE "P7";

IOBUF PORT "oe" IO_TYPE=LVTTL33;
IOBUF PORT "rw" IO_TYPE=LVTTL33;
IOBUF PORT "c_clk" IO_TYPE=LVTTL33;
IOBUF PORT "romsel" IO_TYPE=LVTTL33;
IOBUF PORT "m2" IO_TYPE=LVTTL33;
IOBUF PORT "A[0]" IO_TYPE=LVTTL33;
IOBUF PORT "A[1]" IO_TYPE=LVTTL33;
IOBUF PORT "A[2]" IO_TYPE=LVTTL33;
IOBUF PORT "A[3]" IO_TYPE=LVTTL33;
IOBUF PORT "A[4]" IO_TYPE=LVTTL33;
IOBUF PORT "A[5]" IO_TYPE=LVTTL33;
IOBUF PORT "A[6]" IO_TYPE=LVTTL33;
IOBUF PORT "A[7]" IO_TYPE=LVTTL33;
IOBUF PORT "A[8]" IO_TYPE=LVTTL33;
IOBUF PORT "A[9]" IO_TYPE=LVTTL33;
IOBUF PORT "A[10]" IO_TYPE=LVTTL33;
IOBUF PORT "A[11]" IO_TYPE=LVTTL33;
IOBUF PORT "A[12]" IO_TYPE=LVTTL33;
IOBUF PORT "A[13]" IO_TYPE=LVTTL33;
IOBUF PORT "A[14]" IO_TYPE=LVTTL33;
IOBUF PORT "D[0]" IO_TYPE=LVTTL33;
IOBUF PORT "D[1]" IO_TYPE=LVTTL33;
IOBUF PORT "D[2]" IO_TYPE=LVTTL33;
IOBUF PORT "D[3]" IO_TYPE=LVTTL33;
IOBUF PORT "D[4]" IO_TYPE=LVTTL33;
IOBUF PORT "D[5]" IO_TYPE=LVTTL33;
IOBUF PORT "D[6]" IO_TYPE=LVTTL33;
IOBUF PORT "D[7]" IO_TYPE=LVTTL33;

IOBUF PORT "io[0]" IO_TYPE=LVTTL33;
IOBUF PORT "io[1]" IO_TYPE=LVTTL33;
IOBUF PORT "io[2]" IO_TYPE=LVTTL33;
IOBUF PORT "io[3]" IO_TYPE=LVTTL33;
