set_io --warn-no-port D[0] B5
set_io --warn-no-port D[1] B4
set_io --warn-no-port D[2] A2
set_io --warn-no-port D[3] A1
set_io --warn-no-port D[4] C5
set_io --warn-no-port D[5] C4
set_io --warn-no-port D[6] B3
set_io --warn-no-port D[7] C3